.Block {
	color: white;
	padding: 4em;

	h1 {
		font-size: 3em;
		text-align: center;
	}

	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;

		.description {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				opacity: 0.6;
				max-width: 600px;
			}
		}
	}

}