@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

.Title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding-bottom: 4em;
	padding-top: 2em;

	.Logo {
		font-size: 4em;
		margin: 0.7em 0 0em 0;
	}

	p {
		text-align: center;
		color: #8c8c8c;
		font-weight: 600;
		text-transform: capitalize;
	}

	.github {
		position: absolute;
		top: 1em;
		right: 1em;
		transition: transform 50ms ease-out;

		img {
			width: 2em;
			height: 2em;
		}

		&:hover {
			transform: scale(1.2);
		}
	}
}