@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

.Title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;

	h1 {
		font-family: 'Archivo Black', sans-serif;
		font-size: 4em;
		text-transform: uppercase;
		text-align: center;
		color: #1e1e1e;

		span {color: var(--red);}
		strong {font-size: 1.2em;}
	}
}